<div class="bg-dark bg-gradient p-4 mt-4" id="footer_div">
    <p class="white">Website made by  <a href="/Me/">Mathis DELAGE</a></p>
    <p>©2023-2024 <a href="https://www.gnu.org/licenses/gpl-3.0.html">(GNU GENERAL PUBLIC LICENSE) </a></p>
</div>