<div class="bg-black bg-gradient p-4 mt-4" id="footer_div">
    <p class="">
        Website made by 
        <a class="surl titresg" href="/Me/">
            Mathis DELAGE
        </a>
         &copy;2023-2024 (
        <a target="blank" href="https://www.gnu.org/licenses/gpl-3.0.html" class="surl titresg">
            GNU GENERAL PUBLIC LICENSE
        </a>)
    </p>
</div>