{% extends "Common/Base.html.twig" %}


{% block Body %}
    <p class="text-center my-5">
        Je suis étudiant en 2ème année de BUT informatique et à la recherche d'un stage d'une durée de 10 semaines débutant le 8 Avril.<br>
        Je suis très passionné par l'informatique mais également par l'animation japonaise ainsi que la construction de PC fixe.
    </p>
{% endblock %}